<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bachiller: Javier Leal <%= title %></p>
    <p>C.I: 30.045.707</p>
    <p>Sección 1</p>
  </body>
</html>
