/*Cuerpo de la pagina*/

body{
  background-image: linear-gradient(45deg, #80373d 10%, #5b3f9b 80%, #5b7ab4 90%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.curriculum_body
{
  background-color: white;
  border: 1px solid black;
  padding: 12px;
  width: 60%;
  margin: 0 auto;
  border-radius: 3em;
}
fieldset
{
  margin-bottom: 14px;
  border-radius: 15px;
  
}

/*Cuerpo del curriculum*/

legend
{
  background-color: #9572e7d7;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
}
img
{
  border-radius: 500px;
  margin-bottom: 12px;
  margin-right: 30px;
  float: left;
}
span
{
  font-weight: bold;
}

/*Cuerpo del formulario*/

.form{
  background-color: antiquewhite;
  width: 80%;
  max-width: 400px;
  margin: auto;
  border-radius: 1em;
  padding: 1.5em 1.5em;
}
.form__container{
      width: 100%;
      display: grid;
      gap: 1em;
      grid-auto-columns: 100%;
}
.form__title{
      text-align: center;
      font-size: 1.9rem;
      margin-bottom: .4em;
}
.form__input{
  width: 80%;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid #ebba71;
  border-radius: 0.2em;
}  
.form__input--message{
  width: 80%;
  resize: none;
  padding: 10px;
  margin-bottom: .5em;
}
.form__cta{
  padding: .7em 0;
  border: 2px solid rgb(223, 107, 29);
  border-radius: 15px;
  background:transparent;
  font-size: 14px;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  color: rgb(223, 107, 29);
  outline: none;
}
.form__cta:hover{
  transition: all 300ms;
  background: rgb(223, 107, 29);
  color: white;
}
.form__contacts{
    background-color: antiquewhite;
    width: 80%;
    max-width: 2900px;
    margin: auto;
    border-radius: 1em;
    padding: 6.5em 6.5em;
}
.form__title2{
      text-align: center;
      font-size: 1.9rem;
      margin-bottom: .1em;
}
@media (max-width:450px){
      .form{
          padding: 3.5em 1em;
      }
}

/*Otros detalles*/
.btn__style{
  padding: 10px 40px;
  border: 2px solid rgb(223, 107, 29);
  border-radius: 15px;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  color: rgb(223, 107, 29);
  outline: none;
  margin-top: 20px;
}
.btn__style:hover{
  transition: all 300ms;
  background: rgb(223, 107, 29);
  color: white;
}